@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Unbounded:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-main: #f9faea;
  --color-items: #a5c3ff;
  --text-color: #211c1b;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--color-main);
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: var(--color-main);
  position: fixed;
  width: 100%;
}

.lista__menu {
  display: flex;
  gap: 2rem;
}

.lista__menu li a {
  color: var(--text-color);
  position: relative;
  z-index: 1000;
}
.lista__menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: var(--color-items);
   border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.lista__menu li a:hover::after{
  transform: scaleX(1);
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon__bar {
  background-color: transparent;
  border: none;
  font-size: 20px;
  display: none;
}

/*hero*/
.hero {
  background-color: var(--color-main);
  height: 100vh;
  display: flex;
}

.hero__container {
  display: flex;
  align-items: center;
}

.text__hero h1 {
  font-size: 70px;
  margin-bottom: 5px;
}

.text__hero h3 {
  margin-bottom: 15px;
}

.img__hero {
  display: flex;
  width: 600px;
}

.img__hero img {
  width: 100%;
}

.ctaHero {
  color: #211c1b;
  border: solid transparent;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 600;
  background-color: var(--color-items);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ctaHero:hover {
  background-color: #a5c3ff98;
}

/*about*/

.title__about {
  text-align: center;
  margin: 4rem 0;
}
.text__about {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
}

.card__about {
  text-align: center;
  padding-bottom: 1rem;
}

.container__sobre-nosotros {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #406048;
  padding-top: 5px;
  border-radius: 20px;
  height: 400px;
}

.img__sobre-nosotros {
  width: 300px;
}

.img__sobre-nosotros img {
  width: 100%;
}
.text__sobre-nosotros {
  width: 500px;
  color: white;
}

.text__sobre-nosotros h1 {
  padding-bottom: 1rem;
  font-size: 25px;
}

.text__sobre-nosotros p {
  margin-bottom: 1rem;
}

.cta__sobre {
  color: black;
  background-color: white;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  border: solid 1px transparent;
  transition: 0.5s ease-in-out;
}

.cta__sobre:hover {
  background-color: transparent;
  border: solid 1px;
}

.service__title {
  text-align: center;
  margin-top: 1rem;
}

.service__title h1 {
  font-size: 60px;
  margin-bottom: 4rem;
}

.item img {
  width: 25px;
}

.service__items {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: repeat(2, 1fr);
  gap: 6rem;
  justify-content: center;
  align-items: center;
}

.item {
  text-align: center;
}

.precios__title {
  text-align: center;
  margin-top: 4rem;
}
.precios__cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__precio h4 {
  color: gray;
}

.card {
  width: 300px;
  height: 300px;
  text-align: center;
  margin-top: 4rem;
  background-color: var(--color-items);
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  border-radius: 10px;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 0 40px var(--color-items);
}

.card__precio {
  border-bottom: solid 0.5px rgba(128, 128, 128, 0.408);
}

.card__info p {
  margin-bottom: 2rem;
}

.card__info a {
  color: black;
  background-color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: solid 1px transparent;
  transition: all 0.5s ease;
}

.card__info a:hover {
  background-color: transparent;
  border: solid 1px black;
}

.fa-comment {
  margin: 3rem;
  font-size: 35px;
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.footer {
  margin-top: 5rem;
  background-color: #406048;
  height: 50vh;
}

.items__footer {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.col{
   padding-top: 40%;
}
.col ul li a{
  color: var(--text-color);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.col ul li a:hover{
   color: #211c1b95;
}

.made{
  margin-left: 50%;
  margin-top: 3rem;
  color: #22201e97;
}






@media screen and (max-width: 892px) {
  .service__items {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr;
    gap: 5rem;
  }

  .service__items h2 {
    font-size: 20px;
  }

  .service__title h1 {
    font-size: 50px;
  }

  .text__hero h1 {
    font-size: 50px;
  }
}

@media (max-width: 582px) {
  .text__about {
    display: grid;
    grid-template-columns: 150px 150px 150px;
  }
  .card__about img {
    width: 100px;
  }

  .card__about h3 {
    font-size: 15px;
  }
  .card__about p {
    font-size: 12px;
  }
  .card__info a {
    font-size: 12px;
  }
}

@media (max-width: 553px) {
  .lista__menu {
    display: none;
  }

  .icon__bar {
    display: block;
  }

  .text__about {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    gap: 2rem;
  }

  .card__about img {
    width: 200px;
  }

  .service__title h1 {
    font-size: 30px;
  }

  .service__items {
    display: grid;
    grid-template-columns: 300px;
  }

  .precios__cards {
    display: grid;
    grid-template-columns: 400px;
    justify-items: center;
  }

  .container__sobre-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    height: 700px;
    justify-items: center;
  }
  .text__sobre-nosotros {
    width: 80%;
  }
}

@media (max-width: 391px) {
  .hero__container {
    display: flex;
    flex-direction: column;
  }

  .img__hero {
    width: 80%;
    margin-top: 3rem;
  }
  .container__sobre-nosotros {
    height: 800px;
  }

  .text__about {
    display: flex;
    flex-direction: column;
  }
}
